@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('./styles/components/header.css');

:root {
    /* cores */
    --backgorund-color: #EBECEE;
    --primary-color: #FFFFFF;
    --secondary-color: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --tertiary-color: #EB9B00;

    /* fontes */
    --principal-font: 'Poppins', sans-serif;
}

body {
    background-color: var(--backgorund-color);
    font-family: var(--principal-font);
    font-size: 1rem;
    font-weight: 400;
}

h1 {
    background-color: white;
}