.banner {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 2.5em 2em;
    text-align: center;
}

.banner__title {
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__text {
    font-weight: 300;
    margin: 1em 0;
}

.banner__search {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 24px;
    color: var(--primary-color);
    padding: 1em;
    width: 100%;

}

.banner__search::placeholder {
    background: url('../../assets/img/search.svg') no-repeat;
    background-position: left center;
    color: var(--primary-color);
    font-family: var(--principal-font);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .banner__title {
        font-size: 2.5rem

    }

    .banner__search {
        width: 50%;
    }

    .banner__search::placeholder {
        background-position: left center;
    }
}

@media  screen and (min-width: 1280px) {
    .banner {
        padding: 6em;
    }

    .banner__search {
        width: 45%;
    }

    .banner__search::placeholder {
        background-position: left center;
    }
}