.banner {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 2.5em 2em;
    text-align: center;
}

.banner__title {
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__text {
    font-weight: 300;
    margin: 1em 0;
}

.banner__search {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 24px;
    padding: 1em;
    color: var(--primary-color);
    width: 100%;

}

.banner__search::placeholder {
    color: var(--primary-color);
    font-family: var(--principal-font);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: url('../../assets/img/search.svg') no-repeat 1.5em;
}